# public/.htaccess
RewriteEngine On

# Send everything that isn't a real file or folder to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]